:root{ 

    /* Font-family */
    --family-header:'Times New Roman', Times, serif;
    --family-paragraphs: Georgia, 'Times New Roman', Times, serif;

    /* Size-Tipografy */
    --running-text-size: 1.8rem; 
    --header-text-size-h1: 4rem;
    --header-text-size-h2: 3.5rem;
    --header-text-size-h3: 3rem;

    /* Colors */
    --blue-branding1: #053d57;
    --blue-dark-branding2: #031822;
    --white: #fff;
    --black: #000;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

/* Instruccion for widget */

h1{
    color: var(--blue-branding1);
    font-family:var(--family-header);
    font-size:var(--header-text-size-h1);
}
h2{
    color: var(--blue-branding1);
    font-family:var(--family-header);
    font-size:var(--header-text-size-h2);
}
h3{
    color: var(--blue-branding1);
    font-family:var(--family-header);
    font-size:var(--header-text-size-h3);
}
p{
    color: var(--black);
    font-family:var(--family-paragraphs);
    font-size: var(--running-text-size);
}
button, .buttom{
    color: var(--white);
    background-color: var(--blue-branding1);
    border: solid 2px var(--blue-dark-branding1);
    border-radius: 20px;
    font-family: var(--family-paragraphs);
    font-size: var(--running-text-size);
    padding: 5px 20px;
}
button:hover, .buttom:hover{
    color: var(--blue-branding1);
    background-color:#00000000;
    border: solid 1px var(--black); 
    transition: 0.4s;
    cursor: pointer;
}
a{
    color: var(--white);
    text-decoration: none;
    font-family: var(--family-paragraphs);
    font-size: var(--running-text-size);
}
a:hover{
    color: var(--blue-branding1);
    transition: 0.4s;
}

.link-my-web{
    color: var(--black);
}
.link-my-web:hover{
    text-decoration: underline;
}